# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
.Python

# pytest
.pytest_cache/
.coverage
htmlcov/

# ruff
.ruff_cache/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# macOS
.DS_Store
